## KNN Model

#### Librerias a utilizar

In [721]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import os
from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy import *
import psycopg2
from sqlalchemy.sql import *
import json
from psycopg2 import extras
import warnings
warnings.filterwarnings("ignore")
import unicodedata
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#### Paso 1. Lectura del conjunto de datos

In [722]:
data_m=pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv',encoding='utf-8')
data_c=pd.read_csv('https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv', encoding='utf-8')

In [723]:
print(data_m.shape, data_c.shape)

(4803, 20) (4803, 4)

In [724]:
data_m.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [725]:
data_m.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [726]:
data_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [727]:
data_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [728]:
dups=data_c['title'].duplicated().sum()
print(dups)

registros_dup=data_c[data_c['title'].duplicated(keep=False)]
registros_dup

data_m.drop_duplicates(subset=['title'], inplace=True)	
data_c.drop_duplicates(subset=['title'], inplace=True)

3

In [729]:
data_m.drop_duplicates(subset=['title'], inplace=True)

In [730]:
data_m['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

##### Procesamiento de la data previa carga en Postgret SQL

- Eliminando espacios en blanco al principio y final de las columnas tipo string (simultaneo se transforman en minusculas) y las numericas.

- Se crea funcion clean string para diferenciar de forma adecuada los tipo de data existentes

In [731]:
def clean_string(x):
    if isinstance(x, str):  # solo aplicar a strings
        return x.strip().lower()
    elif isinstance(x, dict) or isinstance(x, list):  # si es un objeto JSON, dejarlo intacto
        return x
    else:
        return x  # si es otro tipo de dato, dejarlo intacto

for colm in data_m.columns:
    if data_m[colm].dtype.kind in ['i', 'f']:  # solo aplicar a columnas de tipo int o float
        data_m[colm] = data_m[colm].astype(str).str.strip().astype(data_m[colm].dtype)
    else:
        data_m[colm] = data_m[colm].apply(clean_string)

for colc in data_c.columns:
    if data_c[colc].dtype.kind in ['i', 'f']:  # solo aplicar a columnas de tipo int o float
        data_c[colc] = data_c[colc].astype(str).str.strip().astype(data_c[colc].dtype)
    else:
        data_c[colc] = data_c[colc].apply(clean_string)

In [732]:
data_m.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4800 non-null   int64
 1   genres                4800 non-null   object
 2   homepage              1711 non-null   object
 3   id                    4800 non-null   int64
 4   keywords              4800 non-null   object
 5   original_language     4800 non-null   object
 6   original_title        4800 non-null   object
 7   overview              4797 non-null   object
 8   popularity            4800 non-null   float64
 9   production_companies  4800 non-null   object
 10  production_countries  4800 non-null   object
 11  release_date          4799 non-null   object
 12  revenue               4800 non-null   int64
 13  runtime               4798 non-null   float64
 14  spoken_languages      4800 non-null   object
 15  status                4800 non-null   object
 16  tagline               3956 non-null   object
 17  title                 4800 non-null   object
 18  vote_average          4800 non-null   float64
 19  vote_count            4800 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 916.5+ KB

In [733]:
data_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4800 non-null   int64
 1   title     4800 non-null   object
 2   cast      4800 non-null   object
 3   crew      4800 non-null   object
dtypes: int64(1), object(3)
memory usage: 187.5+ KB

#### Paso 2: Creación de una base de datos

In [734]:
# Credenciales Base de Datos

user = 'postgres'       #0
password = 'america'    #1
host = 'localhost'      #2
port = 5432             #3
database = 'postgres'   #4

# Conectandome a mi Base de Datos en PostgreSQL: 

conn = psycopg2.connect(database=database, user=user, host=host, password=password, port=port)
cur = conn.cursor()

# Verificando conexion con Postgres SQL
if isinstance(conn, psycopg2.extensions.connection):
    print("Conectado correctamente a la base de datos")

Conectado correctamente a la base de datos

In [735]:

# Función para convertir DataFrame a lista de tuplas
def df_to_tuplas(df):
    return [tuple(x) for x in df.to_numpy()]

# Insertar datos en la tabla Peliculas
def insert_data(df, table_name):
    tuplas = df_to_tuplas(df)
    cols = ','.join([f'"{col}"' for col in df.columns])
    query  = f"INSERT INTO {table_name}({cols}) VALUES %s"
    psycopg2.extras.execute_values(cur, query, tuplas)

In [736]:
# Crear tablas e insertar datos
conn = psycopg2.connect(database=database, user=user, host=host, password=password, port=port)
cur = conn.cursor()
try:
    cur.execute("DROP TABLE IF EXISTS Peliculas")
    cur.execute("""
    CREATE TABLE Peliculas (
        budget bigint, 
        genres text, 
        homepage text, 
        id bigint, 
        keywords text, 
        original_language character varying(10), 
        original_title text, 
        overview text, 
        popularity double precision, 
        production_companies text, 
        production_countries text, 
        release_date character varying(15), 
        revenue bigint, 
        runtime double precision, 
        spoken_languages text, 
        status text, 
        tagline text, 
        title text, 
        vote_average double precision, 
        vote_count bigint,
        PRIMARY KEY(title))
""")
    cur.execute("DROP TABLE IF EXISTS Creditos")
    cur.execute("""CREATE TABLE Creditos (movie_id integer, title text, crew text, 
                "cast" text, PRIMARY KEY(title))""")         
    

    insert_data(data_m, 'Peliculas')
    insert_data(data_c, 'Creditos')

    conn.commit()
    print("Tablas creadas e insertadas exitosamente.")
except UnicodeDecodeError as e:
    print(f"Error de codificación: {e}")
#except Exception as e:
    print(f"Ha ocurrido un error: {e}")
finally:
    cur.close()
    conn.close()

Tablas creadas e insertadas exitosamente.

In [737]:
conn = psycopg2.connect(database=database, user=user, host=host, password=password, port=port)
cur = conn.cursor()

# Ejecutar una consulta SQL para seleccionar todos los datos de la tabla
cur.execute("SELECT * FROM peliculas_creditos")

# Obtener los resultados de la consulta
rows = cur.fetchall()

# Cerrar el cursor
cur.close()
# Cerrar la conexión
conn.close()

# Convertir los resultados en un DataFrame de Pandas
data_f = pd.DataFrame(rows, columns=[column[0] for column in cur.description])

data_f.shape

(4800, 23)

In [738]:
cols=['movie_id','title','overview','genres','keywords','cast','crew']
data_peliculas=data_f[cols]
data_peliculas.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,avatar,"in the 22nd century, a paraplegic marine is di...","[{""id"": 28, ""name"": ""action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""jake sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,pirates of the caribbean: at world's end,"captain barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""captain jack spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,spectre,a cryptic message from bond’s past sends him o...,"[{""id"": 28, ""name"": ""action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""james bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,the dark knight rises,following the death of district attorney harve...,"[{""id"": 28, ""name"": ""action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""bruce wayne / ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,john carter,"john carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""john carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Paso 3. Procesando columnas del dataframe consolidado
##### Seleccionando el atributo `name` y reemplazando las columnas `genres` y `keywords`. Para la columna `cast` seleccionando los tres primeros nombres. Seleccionando nombre del director para la columna `crew`. Generando lista con resumen de las peliculas.

In [739]:
data_peliculas['crew'][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "editing", "gender": 0, "id": 1721, "job": "editor", "name": "stephen e. rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "art", "gender": 2, "id": 496, "job": "production design", "name": "rick carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "sound", "gender": 0, "id": 900, "job": "sound designer", "name": "christopher boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "sound", "gender": 0, "id": 900, "job": "supervising sound editor", "name": "christopher boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "production", "gender": 1, "id": 1262, "job": "casting", "name": "mali finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "sound", "gender": 2, "id": 1729, "job": "original music composer", "name": "james horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "directing", "gender": 2, "id": 2710, "job": "director", "name": "james cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "writing", "gender": 2, "id": 2710, "job": "writer", "name": "james cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "editing", "gender": 2, "id": 2710, "job": "editor", "name": "james cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "production", "gender": 2, "id": 2710, "job": "producer", "name": "james cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "writing", "gender": 2, "id": 2710, "job": "screenplay", "name": "james cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "art", "gender": 2, "id": 7236, "job": "art direction", "name": "andrew menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "visual effects", "gender": 0, "id": 6690, "job": "visual effects producer", "name": "jill brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "production", "gender": 1, "id": 6347, "job": "casting", "name": "margery simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "art", "gender": 2, "id": 6878, "job": "supervising art director", "name": "kevin ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "sound", "gender": 0, "id": 6883, "job": "music editor", "name": "dick bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "sound", "gender": 0, "id": 8159, "job": "sound effects editor", "name": "shannon mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "sound", "gender": 0, "id": 8160, "job": "foley", "name": "dennie thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "sound", "gender": 0, "id": 8163, "job": "foley", "name": "jana vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "costume & make-up", "gender": 1, "id": 8527, "job": "costume design", "name": "deborah lynn scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "production", "gender": 2, "id": 8529, "job": "producer", "name": "jon landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "art", "gender": 0, "id": 9618, "job": "art direction", "name": "sean haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "art", "gender": 1, "id": 12653, "job": "set decoration", "name": "kim sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "art", "gender": 1, "id": 12653, "job": "supervising art director", "name": "kim sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "art", "gender": 2, "id": 14350, "job": "set designer", "name": "richard f. mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "production", "gender": 1, "id": 20294, "job": "executive producer", "name": "laeta kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "costume & make-up", "gender": 0, "id": 17675, "job": "costume design", "name": "mayes c. rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "camera", "gender": 2, "id": 18265, "job": "director of photography", "name": "mauro fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "art", "gender": 0, "id": 42281, "job": "set designer", "name": "scott herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "crew", "gender": 0, "id": 42288, "job": "stunts", "name": "woody schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "costume & make-up", "gender": 0, "id": 29067, "job": "makeup artist", "name": "linda devetta"}, {"credit_id": "5592afa492514152de00112c", "department": "costume & make-up", "gender": 0, "id": 29067, "job": "hairstylist", "name": "linda devetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "camera", "gender": 2, "id": 33302, "job": "camera operator", "name": "richard bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "art", "gender": 2, "id": 33303, "job": "art direction", "name": "simon bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "visual effects", "gender": 0, "id": 113145, "job": "visual effects supervisor", "name": "richard martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "crew", "gender": 2, "id": 58188, "job": "visual effects editor", "name": "steve r. moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "editing", "gender": 2, "id": 58871, "job": "editor", "name": "john refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "art", "gender": 0, "id": 92359, "job": "set designer", "name": "karl j. martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "camera", "gender": 1, "id": 72201, "job": "director of photography", "name": "chiling lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "crew", "gender": 0, "id": 89714, "job": "stunts", "name": "ilram choi"}, {"credit_id": "54959c529251416e2b004394", "department": "visual effects", "gender": 2, "id": 93214, "job": "visual effects supervisor", "name": "steven quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "crew", "gender": 1, "id": 122607, "job": "dialect coach", "name": "carla meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "art", "gender": 2, "id": 132585, "job": "art direction", "name": "nick bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "art", "gender": 0, "id": 132596, "job": "art direction", "name": "jill cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "art", "gender": 0, "id": 132604, "job": "art direction", "name": "andy mclaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "crew", "gender": 0, "id": 236696, "job": "motion capture artist", "name": "terry notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "crew", "gender": 2, "id": 956198, "job": "stunt coordinator", "name": "garrett warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "visual effects", "gender": 2, "id": 957874, "job": "visual effects supervisor", "name": "jonathan rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "art", "gender": 0, "id": 957889, "job": "supervising art director", "name": "stefan dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "art", "gender": 2, "id": 959555, "job": "supervising art director", "name": "todd cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "production", "gender": 0, "id": 1016177, "job": "casting", "name": "miranda rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "art", "gender": 0, "id": 1032536, "job": "production design", "name": "robert stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "costume & make-up", "gender": 2, "id": 1071680, "job": "costume design", "name": "john harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "camera", "gender": 0, "id": 1177364, "job": "steadicam operator", "name": "roberto de angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "costume & make-up", "gender": 2, "id": 1202850, "job": "makeup department head", "name": "mike smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "visual effects", "gender": 0, "id": 1204668, "job": "visual effects producer", "name": "alain lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "visual effects", "gender": 0, "id": 1206410, "job": "visual effects supervisor", "name": "lucas salton"}, {"credit_id": "549596239251417a81001eae", "department": "crew", "gender": 0, "id": 1234266, "job": "post production supervisor", "name": "janace tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "visual effects", "gender": 0, "id": 1271932, "job": "visual effects supervisor", "name": "stephen rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "costume & make-up", "gender": 0, "id": 1310064, "job": "makeup artist", "name": "frankie karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "costume & make-up", "gender": 1, "id": 1319844, "job": "costume supervisor", "name": "lisa lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "visual effects", "gender": 0, "id": 1327028, "job": "visual effects supervisor", "name": "jonathan fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "art", "gender": 0, "id": 1330561, "job": "art direction", "name": "robert bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "costume & make-up", "gender": 0, "id": 1330567, "job": "costume supervisor", "name": "anthony almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "costume & make-up", "gender": 0, "id": 1330570, "job": "costume supervisor", "name": "carolyn m. fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "costume & make-up", "gender": 0, "id": 1330574, "job": "costume supervisor", "name": "beth koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "art", "gender": 0, "id": 1336191, "job": "set designer", "name": "sam page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "art", "gender": 0, "id": 1339441, "job": "set designer", "name": "tex kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "editing", "gender": 0, "id": 1352422, "job": "dialogue editor", "name": "kim foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "art", "gender": 0, "id": 1352962, "job": "set designer", "name": "tammy s. lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "crew", "gender": 0, "id": 1357070, "job": "transportation coordinator", "name": "denny caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "crew", "gender": 0, "id": 1357071, "job": "transportation coordinator", "name": "james waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "sound", "gender": 0, "id": 1360103, "job": "supervising sound editor", "name": "addison teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "art", "gender": 2, "id": 1376887, "job": "set designer", "name": "c. scott baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "art", "gender": 0, "id": 1376888, "job": "set designer", "name": "luke caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "art", "gender": 0, "id": 1376889, "job": "set designer", "name": "david chow"}, {"credit_id": "544919110e0a267486001b68", "department": "art", "gender": 0, "id": 1376890, "job": "set designer", "name": "jonathan dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "art", "gender": 0, "id": 1376891, "job": "set designer", "name": "joseph hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "art", "gender": 0, "id": 1376892, "job": "art department coordinator", "name": "rebecca jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "art", "gender": 0, "id": 1376893, "job": "set designer", "name": "robert andrew johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "art", "gender": 0, "id": 1376895, "job": "assistant art director", "name": "mike stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "art", "gender": 0, "id": 1376897, "job": "construction coordinator", "name": "john villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "art", "gender": 2, "id": 1376898, "job": "assistant art director", "name": "jeffrey wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "editing", "gender": 0, "id": 1376899, "job": "dialogue editor", "name": "cheryl nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "editing", "gender": 0, "id": 1376901, "job": "dialogue editor", "name": "marshall winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "sound", "gender": 0, "id": 1376902, "job": "supervising sound editor", "name": "gwendolyn yates whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "sound", "gender": 0, "id": 1376903, "job": "sound re-recording mixer", "name": "william stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "crew", "gender": 0, "id": 1376909, "job": "choreographer", "name": "lula washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "visual effects", "gender": 0, "id": 1391692, "job": "visual effects producer", "name": "chris del conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "visual effects", "gender": 2, "id": 1391695, "job": "visual effects supervisor", "name": "r. christopher white"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "visual effects", "gender": 0, "id": 1394070, "job": "visual effects supervisor", "name": "dan lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "sound", "gender": 0, "id": 1394129, "job": "sound effects editor", "name": "tim nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "crew", "gender": 0, "id": 1394286, "job": "cg supervisor", "name": "michael mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "crew", "gender": 0, "id": 1394750, "job": "visual effects editor", "name": "thomas nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "visual effects", "gender": 0, "id": 1394755, "job": "visual effects supervisor", "name": "edson williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "editing", "gender": 0, "id": 1394953, "job": "digital intermediate", "name": "christine carr"}, {"credit_id": "55402d659251413d6d000249", "department": "visual effects", "gender": 0, "id": 1395269, "job": "visual effects supervisor", "name": "john bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "camera", "gender": 0, "id": 1398970, "job": "steadicam operator", "name": "david emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "sound", "gender": 0, "id": 1400906, "job": "sound effects editor", "name": "christopher scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "production", "gender": 0, "id": 1401784, "job": "production supervisor", "name": "jennifer teves"}, {"credit_id": "549596009251413af70028cc", "department": "production", "gender": 0, "id": 1401785, "job": "production manager", "name": "brigitte yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "sound", "gender": 0, "id": 1401786, "job": "sound effects editor", "name": "ken fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "crew", "gender": 0, "id": 1401787, "job": "special effects coordinator", "name": "iain hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "crew", "gender": 0, "id": 1401788, "job": "special effects coordinator", "name": "steve ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "visual effects", "gender": 0, "id": 1401789, "job": "visual effects producer", "name": "joyce cox"}, {"credit_id": "5495994b92514132ed002951", "department": "visual effects", "gender": 0, "id": 1401790, "job": "visual effects producer", "name": "jenny foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "crew", "gender": 0, "id": 1401791, "job": "visual effects editor", "name": "christopher marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "crew", "gender": 0, "id": 1401792, "job": "visual effects editor", "name": "jim milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "visual effects", "gender": 0, "id": 1401793, "job": "visual effects producer", "name": "cyndi ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "crew", "gender": 0, "id": 1401794, "job": "visual effects editor", "name": "lucas putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "visual effects", "gender": 0, "id": 1401795, "job": "visual effects supervisor", "name": "anthony \'max\' ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "visual effects", "gender": 0, "id": 1401796, "job": "visual effects supervisor", "name": "john knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "visual effects", "gender": 2, "id": 1401799, "job": "visual effects supervisor", "name": "eric saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "visual effects", "gender": 0, "id": 1401800, "job": "visual effects supervisor", "name": "wayne stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "visual effects", "gender": 0, "id": 1401801, "job": "visual effects supervisor", "name": "david stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "visual effects", "gender": 0, "id": 1401803, "job": "visual effects supervisor", "name": "guy williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "crew", "gender": 0, "id": 1401804, "job": "stunt coordinator", "name": "stuart thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "lighting", "gender": 0, "id": 1401805, "job": "best boy electric", "name": "giles coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "camera", "gender": 2, "id": 1401806, "job": "still photographer", "name": "mark fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "lighting", "gender": 0, "id": 1401807, "job": "lighting technician", "name": "scott sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "visual effects", "gender": 0, "id": 1401808, "job": "animation director", "name": "jeremy hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "visual effects", "gender": 0, "id": 1401809, "job": "animation director", "name": "orlando meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "visual effects", "gender": 0, "id": 1401810, "job": "animation director", "name": "taisuke tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "costume & make-up", "gender": 0, "id": 1401812, "job": "set costumer", "name": "lilia mishel acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "costume & make-up", "gender": 0, "id": 1401814, "job": "set costumer", "name": "alejandro m. hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "editing", "gender": 0, "id": 1401815, "job": "digital intermediate", "name": "marvin hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "production", "gender": 0, "id": 1401816, "job": "publicist", "name": "judy alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "crew", "gender": 0, "id": 1418381, "job": "cg supervisor", "name": "mike perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "crew", "gender": 0, "id": 1426854, "job": "cg supervisor", "name": "andrew morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "art", "gender": 0, "id": 1438901, "job": "conceptual design", "name": "seth engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "crew", "gender": 0, "id": 1447362, "job": "visual effects art director", "name": "eric oliver"}, {"credit_id": "554427ca925141586500312a", "department": "visual effects", "gender": 0, "id": 1447503, "job": "modeling", "name": "matsune suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "art", "gender": 0, "id": 1447524, "job": "art department manager", "name": "paul tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [740]:
def process_genres(genres):
    datos = json.loads(genres)
    names = [dato["name"] for dato in datos]
    return names

data_peliculas['genres_m'] = data_peliculas['genres'].apply(process_genres)
data_peliculas.drop('genres', inplace=True, axis=1)
data_peliculas.rename(columns={'genres_m': 'genres'}, inplace=True)

data_peliculas['keyw_m'] = data_peliculas['keywords'].apply(process_genres)
data_peliculas.drop('keywords', inplace=True, axis=1)
data_peliculas.rename(columns={'keyw_m': 'keywords'}, inplace=True)

def process_genres3(cast):
    datos = json.loads(cast)
    names = [dato["name"] for dato in datos]
    return names[:3] 
data_peliculas['cast_3n'] = data_peliculas['cast'].apply(process_genres3)
data_peliculas.drop('cast', inplace=True, axis=1)
data_peliculas.rename(columns={'cast_3n': 'cast'}, inplace=True)

def process_director(crew):
    datos = json.loads(crew)
    director_name = [dato["name"] for dato in datos if dato["job"]=="director"]
    return director_name
data_peliculas['crew_d'] = data_peliculas['crew'].apply(process_director)
data_peliculas.drop('crew', inplace=True, axis=1)
data_peliculas.rename(columns={'crew_d': 'crew'}, inplace=True)

resumen=data_peliculas.overview.to_list()

In [741]:
data_peliculas.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,avatar,"in the 22nd century, a paraplegic marine is di...","[action, adventure, fantasy, science fiction]","[culture clash, future, space war, space colon...","[sam worthington, zoe saldana, sigourney weaver]",[james cameron]
1,285,pirates of the caribbean: at world's end,"captain barbossa, long believed to be dead, ha...","[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...","[johnny depp, orlando bloom, keira knightley]",[gore verbinski]
2,206647,spectre,a cryptic message from bond’s past sends him o...,"[action, adventure, crime]","[spy, based on novel, secret agent, sequel, mi...","[daniel craig, christoph waltz, léa seydoux]",[sam mendes]
3,49026,the dark knight rises,following the death of district attorney harve...,"[action, crime, drama, thriller]","[dc comics, crime fighter, terrorist, secret i...","[christian bale, michael caine, gary oldman]",[christopher nolan]
4,49529,john carter,"john carter is a war-weary, former military ca...","[action, adventure, science fiction]","[based on novel, mars, medallion, space travel...","[taylor kitsch, lynn collins, samantha morton]",[andrew stanton]

##### Eliminando los espacios en blanco en los elementos de las listas en las columnas `genres`, `cast`, `crew` y `keywords`

In [742]:
def eliminar_espacios(valor):
    return [str(elemento_lista).replace(" ", "") for elemento_lista in valor]

columnas_a_modificar = ['genres', 'cast', 'crew', 'keywords']

data_peliculas[columnas_a_modificar] = data_peliculas[columnas_a_modificar].applymap(eliminar_espacios)

In [743]:
data_peliculas.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,avatar,"in the 22nd century, a paraplegic marine is di...","[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[samworthington, zoesaldana, sigourneyweaver]",[jamescameron]
1,285,pirates of the caribbean: at world's end,"captain barbossa, long believed to be dead, ha...","[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski]
2,206647,spectre,a cryptic message from bond’s past sends him o...,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[danielcraig, christophwaltz, léaseydoux]",[sammendes]
3,49026,the dark knight rises,following the death of district attorney harve...,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...","[christianbale, michaelcaine, garyoldman]",[christophernolan]
4,49529,john carter,"john carter is a war-weary, former military ca...","[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton]

In [744]:
resumen[0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [745]:
data_peliculas.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,avatar,"in the 22nd century, a paraplegic marine is di...","[action, adventure, fantasy, sciencefiction]","[cultureclash, future, spacewar, spacecolony, ...","[samworthington, zoesaldana, sigourneyweaver]",[jamescameron]
1,285,pirates of the caribbean: at world's end,"captain barbossa, long believed to be dead, ha...","[adventure, fantasy, action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[johnnydepp, orlandobloom, keiraknightley]",[goreverbinski]
2,206647,spectre,a cryptic message from bond’s past sends him o...,"[action, adventure, crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[danielcraig, christophwaltz, léaseydoux]",[sammendes]
3,49026,the dark knight rises,following the death of district attorney harve...,"[action, crime, drama, thriller]","[dccomics, crimefighter, terrorist, secretiden...","[christianbale, michaelcaine, garyoldman]",[christophernolan]
4,49529,john carter,"john carter is a war-weary, former military ca...","[action, adventure, sciencefiction]","[basedonnovel, mars, medallion, spacetravel, p...","[taylorkitsch, lynncollins, samanthamorton]",[andrewstanton]

##### Unificando las columnas: `genres`, `keywords`, `cast` y `crew`

In [746]:
data_peliculas['unificado']=data_peliculas['genres']+data_peliculas['keywords']+data_peliculas['cast']+data_peliculas['crew']
data_peliculas['unificado'].head()
def eliminar_comas(valor):
    return [str(elemento_lista).replace(",","") for elemento_lista in valor]

data_peliculas['unificado'] = data_peliculas['unificado'].apply(eliminar_comas)
data_peliculas['unificado'] = data_peliculas['unificado'].apply(lambda x: ' '.join(x))
data_peliculas['unificado'].head()

0    action adventure fantasy sciencefiction cultur...
1    adventure fantasy action ocean drugabuse exoti...
2    action adventure crime spy basedonnovel secret...
3    action crime drama thriller dccomics crimefigh...
4    action adventure sciencefiction basedonnovel m...
Name: unificado, dtype: object

In [747]:
data_knn=pd.DataFrame(columns=['tags','title'])
data_knn['tags'] = data_peliculas['overview'].str.cat(data_peliculas['unificado'], sep=' ')
data_knn['title']=data_peliculas['title']

In [748]:
data_knn.head()

,tags,title
0,"in the 22nd century, a paraplegic marine is di...",avatar
1,"captain barbossa, long believed to be dead, ha...",pirates of the caribbean: at world's end
2,a cryptic message from bond’s past sends him o...,spectre
3,following the death of district attorney harve...,the dark knight rises
4,"john carter is a war-weary, former military ca...",john carter

In [749]:
data_knn.tags[0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

### Paso 4: Construccion del KNN

#### Vectorizacion de la Variable tags

In [750]:
X=pd.Series(data_knn['tags'])
X.head()

0    in the 22nd century, a paraplegic marine is di...
1    captain barbossa, long believed to be dead, ha...
2    a cryptic message from bond’s past sends him o...
3    following the death of district attorney harve...
4    john carter is a war-weary, former military ca...
Name: tags, dtype: object

In [751]:
def normalize_text(text):
    return unicodedata.normalize('NFKD', text)

In [752]:
vec_model = CountVectorizer(stop_words = "english", preprocessor=normalize_text)
Xvec = vec_model.fit_transform(X).toarray()

#### Uso Data Vectorizada
- En este caso no tenemos una variable a predecir, nuestro código será soportado en la función cosine_similarity aplicada sobre la columna **tags** vectorizada, para hacer recomendaciones de 5 peliculas similares en función a la selección de una pelicula del DATASET. Si la pelicula no esta en el DATASET, el código arrojará un error de indice y debemos intentar con otra.

In [753]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(Xvec)

In [754]:
def recommend(movie):
    try:
        movie_index = data_knn[data_knn["title"] == movie.lower()].index[0]
        distances = similarity[movie_index]
        movie_list = sorted(list(enumerate(distances)), reverse = True , key = lambda x: x[1])[1:6]
        for i in movie_list:
            print(data_knn.iloc[i[0]].title)  
    except IndexError:
        print("Error: La pelicula no esta en el DATASET. Intente con otra !!!")

In [755]:
recommend("gladiator")

hercules
pompeii
the last legion
we were soldiers
underworld: rise of the lycans